@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared-atyles */
body{
  max-width: 1440px;
  margin: 0 auto;}

  .display-flex{
    display: flex;
  }

  .card-btn{
    font-size: 1rem;
    font-weight: 700;
    border: none;
  
  }

  /* nav related styles */
  .nav-item{
    list-style: none;
    margin-right:32px ;
   }

  .nav-link{
    text-decoration: none;
   
    
  }
  .logo{
    gap: 11px;
  }
  .manu-bar{
    width: 62px;
    height: 62px;
  }
  .brand{
    size: 2rem;
    font-weight:700 ;
    color: #111111;
  }
  .nav-link-home{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 600;
  }
.nav-link-about{
  color: #01ACFD;
  font-size: 1.25rem;
    font-weight: 600;
  }


.nav-link-facilities{
  color: #05D4DF;
  font-size: 1.25rem;
    font-weight: 600;
  }
  

.nav-link-admission{
  color: #5D58EF;

  font-size: 1.25rem;
  font-weight: 600;
}
.nav-btn{
  width: 197px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #FEA301;
  border: none;


}
.nav-bar{
  align-items: center;
  justify-content: space-between;
 margin: 20px 140px;
}

/* banner-section */

.banner {
  max-width: 1158.61px;
  gap:50px ;
  align-items: center;
  margin: auto 140px;

}
.banner-contant{
  text-align: left;
  
  
}
.banner-hading{
  font-size: 3.5rem;
  font-weight: 700;
}
.heading-orange{
  color: #FEA301;
}
.heading-sky-blue{
  color:#01ACFD;
}
.discription{
  font-size: 1.25rem;
}






.banner-btn{
  width: 197px  ;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  background-color: #111111;
  font-size: 1.25rem;
  font-weight: 700;
  
}
/* curriculum styles */

.curriculum-heading{
  text-align: center;
  font-size: 2.85rem;
  font-weight: 700;
}
.curriculm-cards {
  text-align: center;
  gap: 28px;
  /* max-width: 1160px; */
  margin: 80px 140px auto 140px;
 
}
.curriculum-card{
  width: 367px;
 
  border-radius: 18px;
  border: 1px solid black;
  /* gap: 20px; */
 padding: 53px 40px;
 
}
.curriculum-card-heading{
  font-size: 1.5rem;
  font-weight: 700;
  color: #202020;
}
.curriculum-dis{
  font-size: 1rem;
  font-weight: 400;
  color: #808080;
}
.btn-1{
  color: #64C8FF;
}
.btn-2{
  color: #F0AA00;
}
.btn-3{
  color: #8700FF;
}
.arrow-btns{
  text-align:center ;
  margin-top: 80px;

}
.btn-right{
  background-color:#FEA301;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  border: none;
  
}
.btn-left{
  background-color:#FEA301;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  border: none;

}

/* reponsive media quary */
@media screen and (max-width:576px){
  .banner,
  .curriculum,
  .curriculm-cards {
    flex-direction: column-reverse;
    margin: auto 16px;
    /* max-width: 520px; */
    align-items: center;
    text-align: center;
   
}
.nav-btn,
.brand,
.nav-links,
.arrow-btns {
  display: none;
}
.nav-bar
{
  display: flex;
 justify-content: space-between;
 margin: auto 10px;
}
.banner-contant{
 text-align: center;
 
 
}
.banner-hading{
  font-size: 2rem;
  font-weight: 700;
 

}
.discription{
  font-size: 0.875rem;
  font-weight: 400;
  
}

}

@media screen and (min-width: 576px){
  .manu-tab {
    display: none;
  }

}